:root {
  --button-fill: #ffffff;
  --button-border: #5c4f3f;
  --button-shadow: #c5ac8e;
  --background: #eae0d6;
  --color: #000000;
  --navigation-shadow: #22333b;
  --nav-items-color: #5c4f3f;
  --ready-to-elevate-bg: #22333b;
  --ready-to-elevate-color: #eae0d6;
  --returns-calculator-bg: #eae0d6;
  --returns-calculator-color: #22333b;
  --returns-calculator-border: #ffffff;
  --amount-bg: #5c4f3f;
  --amount-color: #ffffff;
  --amount-border: #eae0d6;
  --progress-bg: #22333b15;
  --progress-color: #22333b;
}
