.navigation {
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  min-height: 100px;
  border-radius: 20px;
  position: relative;
  background-color: var(--background);
  box-shadow: 6px 6px 0 0 var(--navigation-shadow);
  margin: 0 auto;
  padding: 0 35px 0 192px;
  align-items: center;
  justify-content: space-between;
}

.navigation > img {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}

.navigation > h1 {
  font-size: 32px;
  font-weight: normal;
  color: var(--color);
}

.navItems {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 75px;
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

.navItems > li > a {
  font-size: 18px;
  font-weight: 500;
  color: var(--nav-items-color);
  text-transform: capitalize;
}

.navButtons {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

.navButtons > li {
  display: block;
}

.navButtons > li > a {
  display: block;
  font-size: 18px;
  font-weight: bolder;
  color: var(--navigation-shadow);
  text-transform: uppercase;
  line-height: 1;
}

.navButtons > li > a,
.textButton {
  background: var(--button-fill);
  border: 1px solid var(--button-border);
  width: 64px;
  height: 64px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.textButton {
  min-width: 200px;
  border: 0 !important;
  box-shadow: 6px 6px 0 0 var(--button-shadow);
}
