:root {
  --button-fill: #ffffff;
  --button-border: #5c4f3f;
  --button-shadow: #c5ac8e;
  --background: #070321;
  --navigation-bg: #eae0d6;
  --navigation-color: #000000;
  --welcome-color: #070321;
  --color: #ffffff;
  --navigation-shadow: #22333b;
  --nav-items-color: #5c4f3f;
  --about-us-pie: url(./assets/svg/aboutus-pie-dark.svg);
  --ready-to-elevate-bg: #eae0d6;
  --ready-to-elevate-color: #22333b;
  --returns-calculator-bg: #eae0d6;
  --returns-calculator-color: #22333b;
  --returns-calculator-border: #22333b;
  --amount-bg: #ffffff;
  --amount-color: #070321;
  --amount-border: #eae0d6;
  --progress-bg: #22333b15;
  --progress-color: #22333b;
  --rich-club-coin-bg: url(./assets/webp/rich-club-coin-light.webp);
  --rich-club-coin-title: #070321;
  --rich-club-coin-bg-color: #070321;
  --rich-club-coin-color: #ffffff;
  --footer-bar: #eae0d6;
}

@font-face {
  font-family: Playfair Display;
  src: url(./assets/fonts/playfair-display.ttf);
}

body {
  background-color: var(--background);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.center-block {
  display: block;
  margin: 0 auto;
}
