@font-face {
  font-family: Playfair Display;
  src: url(./assets/fonts/playfair-display.ttf);
}

body {
  background-color: var(--background);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.center-block {
  display: block;
  margin: 0 auto;
}
